{% extends 'customer/base.html' %}

{% block content %}

<div class="container pt-3">
    <div class="row justify-content-center">
        <div class="col-6">
            <div class="display-6" style="text-align: center;">Adicionar Cliente</div>
            <form name="new-customer" id="new-customer" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="text-danger">{{ form.non_fields_errors }}</div>

                <!-- Name input -->
                <div class="form-outline mb-4">
                    <input type="text" name="name" id="name" class="form-control" value="{{ form.name.value|default_if_none:'' }}"/>
                    <label class="form-label" for="name">Nome</label>
                </div>

                <!-- Email input -->
                <div class="form-outline mb-4">
                    <input type="email" name="email" id="email" class="form-control" value="{{ form.email.value|default_if_none:'' }}"/>
                    <label class="form-label" for="email">E-mail</label>
                </div>

                <div class="form-outline mb-4">
                    <input type="text" name="phone" id="phone" class="form-control" value="{{ form.phone.value|default_if_none:'' }}"/>
                    <label class="form-label" for="phone">Telefone</label>
                </div>

                <!-- Checkbox -->
                <div class="form-check d-flex justify-content-start mb-4">
                    <input class="form-check-input me-2" type="checkbox" value="{{ form.active.value|default_if_none:True }}" name="active" id="active" checked/>
                    <label class="form-check-label" for="active">
                        Ativo
                    </label>
                </div>

                <!-- Submit button -->
                <button type="submit" class="btn btn-primary btn-block mb-4">Adicionar</button>
            </form>
        </div>
    </div>
</div>

{% endblock content %}