{% extends 'customer/base.html' %}

{% block content %}

<div class="container pt-3">
    <div class="row justify-content-center">
        <div class="col-6">
            <div class="display-6" style="text-align: center;">Adicionar Cliente</div>
            <form>
                <!-- Name input -->
                <div class="form-outline mb-4">
                    <input type="text" id="form4Example1" class="form-control" value=""/>
                    <label class="form-label" for="form4Example1">Nome</label>
                </div>

                <!-- Email input -->
                <div class="form-outline mb-4">
                    <input type="email" id="form4Example2" class="form-control" value=""/>
                    <label class="form-label" for="form4Example2">E-mail</label>
                </div>

                <div class="form-outline mb-4">
                    <input type="text" id="form4Example1" class="form-control" value=""/>
                    <label class="form-label" for="form4Example1">Telefone</label>
                </div>

                <!-- Checkbox -->
                <div class="form-check d-flex justify-content-start mb-4">
                    {% if customer.active %}
                        <input class="form-check-input me-2" type="checkbox" value="" id="form4Example4" checked/>
                    {% else %}
                        <input class="form-check-input me-2" type="checkbox" value="" id="form4Example4" />
                    {% endif %}
                    <label class="form-check-label" for="form4Example4">
                        Ativo
                    </label>
                </div>

                <!-- Submit button -->
                <button type="submit" class="btn btn-primary btn-block mb-4">Adicionar</button>
            </form>
        </div>
    </div>
</div>

{% endblock content %}