{% extends 'customer/base.html' %}
{#{% load humanize %}#}


{% block content %}

<div class="container-fluid">
    <div class="row">
        <div class="display-6">{{ customer.name }}</div>
        <div class="small"><i class="fa-solid fa-envelope"></i> {{ customer.email }}</div>
        <div class="small">
            <a href="https://api.whatsapp.com/send?phone=+55{{ customer.phone }}&text=Ola." class="link-success">
                <i class="fa-brands fa-whatsapp"></i> {{ customer.phone }}</a>
        </div>
    </div>
    <table class="table table-hover">
        <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Serviço</th>
            <th scope="col">Recorrente</th>
            <th scope="col">Data Inicio</th>
            <th scope="col">Data Fim</th>
            <th scope="col">Valor R$</th>
        </tr>
        </thead>
        <tbody>
        {% for customer_job in customer_jobs %}

            <tr>
                <th scope="row">{{ customer_job.id }}</th>
                <td>{{ customer_job.job }}</td>
                <td>
                    {% if customer_job.recurrent %}
                        <i class="fa fa-check-circle text-success"></i>
                    {% else %}
                        <i class="fa fa-minus text-muted"></i>
                    {% endif %}
                </td>
                <td>{{ customer_job.dtt_start|date:'d/m/Y' }}</td>
                <td>{{ customer_job.dtt_end|date:'d/m/Y' }}</td>
                <td>R$ {{ customer_job.job.price|floatformat:"2"|intcomma }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

{% endblock content %}