{% extends 'customer/base.html' %}

{% block content %}

<div class="container pt-3">
    <div class="row justify-content-center">
        <div class="col-6">
            <div class="display-6" style="text-align: center;">Alterar Job</div>
            <form>
                <!-- Name input -->
                <div class="form-outline mb-4">
                    <input type="text" id="form4Example1" class="form-control" value="{{ job.name }}"/>
                    <label class="form-label" for="form4Example1">Job</label>
                </div>

                <!-- Email input -->
                <div class="form-outline mb-4">
                    <input type="text" id="form4Example2" class="form-control" value="{{ job.price }}"/>
                    <label class="form-label" for="form4Example2">Valor cobrado</label>
                </div>

                <div class="form-outline mb-4">
                    <input type="text" id="form4Example1" class="form-control" value="{{ job.slug }}"/>
                    <label class="form-label" for="form4Example1">slug</label>
                </div>


                <!-- Submit button -->
                <button type="submit" class="btn btn-primary btn-block mb-4">Alterar</button>
            </form>
        </div>
    </div>
</div>

{% endblock content %}